.sheet-wrapper {
  width: 100%;
  margin: 0 30px;
  padding: 0 30px;
  label, input {
    display: block;
    padding: 30px;
    .sheet-title {
      width: 100%;
    }
    .sheet-content {
      width: 100%;
    }
  }
}